@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-0 .btn {
  font-size: 11px;
}
#header4-1 H1 {
  color: #000000;
}
#header4-1 P {
  color: #ffffff;
}
#header4-1 SPAN {
  color: #ffffff;
}
#footer1-j P {
  text-align: center;
}
#dropdown-menu-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6 .nav .link,
#dropdown-menu-6 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-6 .navbar,
#dropdown-menu-6 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6 .dropdown-menu a:hover,
#dropdown-menu-6 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-6 .navbar-toggler {
  color: #000000;
}
#content5-e .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
}
#content5-e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-e .mbr-article {
  color: #fff;
}
#content5-e .mbr-article UL {
  text-align: center;
}
#content5-e .mbr-article P {
  text-align: center;
  color: #000000;
}
#content5-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-article {
  color: #fff;
}
#content5-18 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #fff;
}
#content5-18 .mbr-article P {
  text-align: center;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
}
#content5-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-15 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-article {
  color: #000000;
  text-align: center;
}
#content5-1a .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-1a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1a .mbr-article {
  color: #000000;
}
#content5-1b .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-1b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1b .mbr-article {
  color: #fff;
}
#content5-1b .mbr-article P {
  text-align: center;
  color: #000000;
}
#footer1-12 P {
  text-align: center;
}
#dropdown-menu-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-9 .nav .link,
#dropdown-menu-9 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-9 .navbar,
#dropdown-menu-9 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-9 .dropdown-menu a:hover,
#dropdown-menu-9 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-9 .navbar-toggler {
  color: #000000;
}
#header4-f P {
  text-align: center;
  color: #000000;
}
#header4-f H1 {
  color: #000000;
}
#footer1-12 P {
  text-align: center;
}
#dropdown-menu-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-g .nav .link,
#dropdown-menu-g .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-g .navbar,
#dropdown-menu-g .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-g .dropdown-menu a:hover,
#dropdown-menu-g .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-g .navbar-toggler {
  color: #000000;
}
#contacts2-h P {
  color: #ffffff;
}
#contacts2-h UL {
  color: #ffffff;
}
#footer1-12 P {
  text-align: center;
}
#dropdown-menu-k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-k .nav .link,
#dropdown-menu-k .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-k .navbar,
#dropdown-menu-k .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-k .dropdown-menu a:hover,
#dropdown-menu-k .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-k .navbar-toggler {
  color: #000000;
}
#msg-box3-m .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box2-n .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-n .mbr-article {
  color: #252525;
}
#msg-box2-o .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-o .mbr-article {
  color: #252525;
}
#msg-box2-p .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-p .mbr-article {
  color: #252525;
}
#footer1-12 P {
  text-align: center;
}
#content5-u .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-u .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-u .mbr-article {
  color: #fff;
}
#content5-u .mbr-article P {
  text-align: center;
}
#dropdown-menu-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-r .nav .link,
#dropdown-menu-r .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-r .navbar,
#dropdown-menu-r .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-r .dropdown-menu a:hover,
#dropdown-menu-r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-r .navbar-toggler {
  color: #000000;
}
#dropdown-menu-r .btn {
  font-size: 11px;
}
#footer1-s P {
  text-align: center;
}
#content5-t .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-t .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-t .mbr-article {
  color: #fff;
}
#content5-t .mbr-article P {
  text-align: center;
}
#dropdown-menu-2 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2 .nav .link,
#dropdown-menu-2 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2 .navbar,
#dropdown-menu-2 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2 .dropdown-menu a:hover,
#dropdown-menu-2 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2 .btn {
  font-size: 11px;
}
#features1-3 .mbr-section__col .mbr-header__text {
  color: #efefef;
}
#features1-3 P {
  color: #ffffff;
}
#features1-5 P {
  color: #ffffff;
}
#features1-5 .mbr-section__col .mbr-header__text {
  color: #efefef;
}
#footer1-12 P {
  text-align: center;
}

#dropdown-menu-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-v .nav .link,
#dropdown-menu-v .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-v .navbar,
#dropdown-menu-v .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-v .dropdown-menu a:hover,
#dropdown-menu-v .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-v .navbar-toggler {
  color: #000000;
}
#dropdown-menu-v .btn {
  font-size: 11px;
}
#footer1-w P {
  text-align: center;
}
#content4-x P {
  font-family: 'Lora', serif;
  font-size: 15px;
}
#content4-x .mbr-section__col .mbr-header__text {
  font-size: 17px;
}
#dropdown-menu-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-11 .nav .link,
#dropdown-menu-11 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-11 .navbar,
#dropdown-menu-11 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-11 .dropdown-menu a:hover,
#dropdown-menu-11 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-11 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-11 .btn {
  font-size: 11px;
}
#footer1-12 P {
  text-align: center;
}
